<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to My Flask Blog!</h1>
    </header>

    <nav>
        <a href="{{ url_for('add')}}" class="btn-add" >Add Post</a>
        <a href="{{ url_for('home') }}" class="btn-add">Go back home</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for post in blog_posts %}
        <div class="post">
            <h2>Post Title: {{ post.title }}</h2>
            <p><em>Written by {{ post.author }}</em></p>
            <p>Post content:</p>
            <p>{{ post.content }}</p>

            <a class="btn-add" href="{{ url_for('update', post_id=post.id) }}">
                Update Post
            </a>

            <form class="form-delete-btn"
                  action="{{ url_for('delete_post', post_id=post.id) }}"
                  method="post">
                <button class="btn-delete"
                        type="submit"
                        onclick="return confirm('Do you really want to delete the post?')">
                    Delete Post
                </button>
            </form>
        </div>
    {% endfor %}
</body>
</html>

