<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <h1>Welcome to My Flask Blog!</h1>
</header>
<body>
    <nav>
        <a href="/add" class="btn-add">Add comment</a>
    </nav>
    <div class="post">
        {% for post in blog_posts %}
            <h2>Post Title: {{ post.title }}</h2>
            <p><em>Written by {{ post.author }}</em></p>
            <p>Post content:</p>
            <p>{{ post.content }}</p>
            <form action="{{ url_for('delete_post', post_id=post.id) }}"
                  method="post">
                <button class="btn-delete"
                        type="submit"
                        onclick="return confirm('Do you really want to delete the post?')">
                    Delete Post
                </button>
            </form>
        {% endfor %}
    </div>
</body>
</html>

